---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title='About Me'
  description='Lorem ipsum dolor sit amet'
  pubDate={new Date('October 15 2023')}
>
  <p>
    Hi, I’m <strong>Trombitas I. Sandor</strong> and I work as a full stack web developer.
  </p>
  <p>
    For the past 10 years I’ve helped build accessible and highly performant applications. I’m passionate about accessibility, functional programming and type systems.
  </p>
  <p>
    When I’m not writing code, I like to spend my time cycling 🚲, reading 📖 or playing tabletop games ♟.
  </p>
</Layout>
