---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="content">
      <h2 class="accent">Hi, I'm Sandor</h1>
      <h3>Web developer, Dungeon Master, Cyclist & Dad</h2>
      <p>
        Welcome to my site. This is my little corner of the internet.
      </p>
    <Footer />
  </body>
</html>

<style>
  .accent {
    color: var(--accent);
  }
  h2 {
    padding-top: 2rem
  }
</style>